<!DOCTYPE html>
<html lang="en">

<head>
    {% include "head.njk" %}
    <link rel="stylesheet" href="static/css/app.css">
    <script src="https://kit.fontawesome.com/c0d1245017.js"></script>
</head>

<body style="direction: ltr !important">
    <div class="sidebar-buttons">
    </div>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="sidebar_open"></i>
        <i class="fas fa-times" id="sidebar_close"></i>
    </label>
    <div class="sidebar">
        <div class="sidebar_title" dir="ltr">
            <img src="static/img/card.png" alt="">
            <h1>Name</h1>
        </div>
        <ul>
            <li><a href="profile.html" class="lan" en="My Profile" ar="ملفي"></a></li>
            <li><a href="settings.html" class="lan" en="Settings" ar="الإعدادات"></a></li>
            <li><a href="" class="lan" en="Points" ar="نقاط"></a></li>
            <li><a href="faq.html" class="lan" en="FAQ" ar="التعليمات"></a></li>
            <li><a href="about.html" class="lan" en="About" ar="حول"></a></li>
            <li><a href="" class="lan" en="Share" ar="شارك"></a></li>
            <li><a href="" class="lan" en="Support" ar="الدعم"></a></li>
        </ul> 
        <div class="logout">
            <i class="fas fa-3x fa-sign-out-alt"></i>
            <h1 class="lan" en="Logout" ar="تسجيل خروج"></h1>
        </div>
    </div>
    <div id="bottom_bar">
        <a href="profile.html">
            <i class="fas fa-2x fa-user"></i>
        </a>
        <a href="categories.html">
            <i class="fas fa-2x fa-th-large"></i>
        </a>
        <a href="home.html">
            <i class="fas fa-2x fa-home"></i>
        </a>
        <a href="maps.html">
            <i class="fas fa-2x fa-map"></i>
        </a>
        <a href="user_welcome.html">
            <i class="fas fa-2x fa-bars"></i>
        </a>
    </div>
    {{ content | safe }}
</body>
<script src="static/js/app.bundled.js"></script>
<script src="static/js/jquery.min.js"></script>
<script src="static/js/notify.js"></script>
<script src="static/js/engine.js"></script>
</html>