---
layout: base.njk
title: Get Started
permalink: card-holder/card-number.html
---

{% set header = {
    titleEn: 'Smart Card',
    titleAr: 'بطاقة ذكية'
} %}
{% include "header.njk" %}
<div class="card-number-container header-child-container">
    <img src="static/img/card.png" alt="">
    <form id="card-number-form">
        <div class="field">
            <div class="control">
                <input class="input is-info is-rounded" type="number" name="card-number" placeholder="Enter your Card Number" required/>
            </div>
        </div>
        <button type="submit" class="button orange-button is-danger is-medium is-rounded lan" en="Done" ar="منجز"></button>
    </form>
</div>