---
layout: base.njk
title: Get Started
permalink: card-holder/otp.html
---

{% set header = {
    titleEn: 'Enter the confirmation code',
    titleAr: 'أدخل رمز التأكيد'
} %}
{% include "header.njk" %}
<div style="margin-top: 20vh;">
    <div class="otp-container header-child-container">
        <h3 class="lan" en="Enter the 4-digit confirmation code" ar="أدخل رمز التأكيد المكون من 4 أرقام"></h3>
        <form id="otp-form">
            <div class="field">
                <div class="control">
                    <input class="input is-dark" name="otp" type="text" placeholder="OTP"/>
                </div>
            </div>
            <button type="submit" class="button orange-button is-danger is-medium is-rounded lan" en="Done" ar="منجز"></button>
        </form>
    </div>
</div>