---
layout: base_sidebar.njk
title: Get Started
permalink: profile.html
---
{% set header = { title: 'My Profile' } %}
{% include "header.njk" %}

<div class="profile-container container bottom_bar_margin">
    <div class="profile_title">
        <img src="static/img/logo.png" class="profile_pic" alt="">
        <h1>You are a silver member</h1>
        <img src="static/img/card.png" class="credit_card" alt="">
    </div>
    <div class="edit">
        <i class="fas fa-edit"></i>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Name">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </p>
            </div>
            <div class="field">
                <p class="control">
                    <input class="input" type="text" placeholder="Last Name">
                </p>
            </div>
        </div>
    </div>
    <div class="field">
        <p class="control is-expanded has-icons-left">
            <input class="input" type="email" placeholder="Email" value="alex@smith.com">
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
        </p>
    </div>
    <div class="field has-addons has-addons-right columns is-gapless">
        <p class="control column countrycode">
            <span class="select">
              <select>
                <option>+968</option>
                <option>+969</option>
                <option>+970</option>
              </select>
            </span>
          </p>
        <div class="control column">
            <input class="input" type="tel" placeholder="23 123456" />
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <p class="control" id="date-picker-control">
                    <input class="input" id="date-picker" value="05/14/2020" type="date" placeholder="Confirm Password">
                </p>
            </div>
        </div>
    </div>

    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Business development</option>
                            <option>Marketing</option>
                            <option>Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Business development</option>
                            <option>Marketing</option>
                            <option>Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select is-fullwidth">
                        <select>
                            <option>Business development</option>
                            <option>Marketing</option>
                            <option>Sales</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>