---
layout: base.njk
title: Get Started
permalink: merchant.html
---

{% set header = {
    titleEn: 'Create as a merchant',
    titleAr: 'إنشاء كتاجر'
} %}
{% include "header.njk" %}
<a href="signin.html" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="merchant-container container">
    <div class="modal" id="merchantFormModal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="card lan" en="Form submitted successfully, Will contact you soon." ar="تم إرسال النموذج بنجاح ، وسوف نتصل بك قريبًا.">
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <div class="center">
        <img src="static/merchant-shop.png" alt="">
        <h1 class="lan" en="Welcome to bring more customers to you" ar="مرحبا لجلب المزيد من العملاء لك"></h1>
    </div>
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <div class="control">
                    <div class="select is-dark ">
                        <select class="country"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="field">
        <p class="control">
            <input class="input  is-dark" type="text" placeholder="Password">
        </p>
    </div>
    <div class="field">
        <p class="control">
            <input class="input  is-dark" type="text" placeholder="Confirm Password">
        </p>
    </div>
    <div class="field has-addons has-addons-right columns is-gapless">
        <p class="control column countrycode">
            <span class="select is-dark">
                <select>
                    <option>+968</option>
                    <option>+969</option>
                    <option>+970</option>
                </select>
            </span>
        </p>
        <div class="control column">
            <input class="input is-dark" type="tel" placeholder="23 123456"/>
        </div>
    </div>
    <div class="field">
        <div class="control">
            <textarea class="textarea is-dark" placeholder="Your inquiries-Write all your inquiries"></textarea>
        </div>
    </div>
    <div class="center">
        <a href="signin.html">
            <button id="merchantFormSubmitButton" class="button orange-button is-danger is-medium is-rounded lan" en="Send" ar="إرسال"></button>
        </a>
    </div>
</div>