---
layout: base.njk
title: Get Started
permalink: about.html
---
{% set header = { titleEn: 'About Us', titleAr: 'معلومات عنا' } %}
{% include "header.njk" %}

<a href="home.html" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="about_container">
    <div class="card about-card">
        <img src="static/img/logo.png" alt="">
        <p class="lan" en="International Smart Card for Discounts, is owned by Smart Hammer L.L.C company established inSultane of Oman
            since 2009 as a part of Al Yarubi Group." ar="البطاقة الذكية الدولية للخصومات ، مملوكة لشركة Smart Hammer L.L.C التي تأسست في سلطنة عمان
            منذ عام 2009 كجزء من مجموعة الياروبي.">
        </p>
        <p class="lan" en="ISD smart card has a international is keeping pace with modern progress and development that serves all
            consumers and saves their money under the high prices in various fields." ar="البطاقة الذكية ISD لديها مواكبة دولية مع التقدم الحديث والتنمية التي تخدم الجميع
            المستهلكين وتوفير أموالهم تحت ارتفاع الأسعار في مختلف المجالات.">
        </p>
        <p class="lan" en="The company's efforts continue to serve everyone in various commercial sectors and provides this service to
            all shops to active their sales and now the company is works to communicate with all possible parties to
            active the card for them whether inside
            Oman or outboard." ar="تستمر جهود الشركة في خدمة الجميع في مختلف القطاعات التجارية وتقدم هذه الخدمة لها
            تعمل جميع المتاجر على تنشيط مبيعاتها والآن تعمل الشركة على التواصل مع جميع الأطراف الممكنة
            نشط البطاقة لهم سواء في الداخل
            عمان أو خارجي.">
        </p>
        <p class="lan" en="Also we are working to expand and spread in future and that is our most important goal, and we are working
            to develop the application of the card so as not to be limited registering owners of cards and
            companiesonly, but try to make it a part of social media by creating an advertisement space benifit in many
            different fields, and also provide opportunities to develop skills through advertising." ar="كما أننا نعمل على التوسع والانتشار في المستقبل وهذا هو هدفنا الأهم ، ونحن نعمل
            لتطوير تطبيق البطاقة حتى لا يقتصر تسجيل أصحاب البطاقات و
            الشركات فقط ، ولكن حاول أن تجعلها جزءًا من وسائل التواصل الاجتماعي من خلال إنشاء مساحة إعلانية تستفيد منها الكثير
            مختلف المجالات ، وكذلك توفير الفرص لتطوير المهارات من خلال الإعلان.">
        </p>
        <p class="lan" en="Our plan is to allow the card holder to benefit from ISD Card in Sultane of Oman, GCC, and other countries
            off the world." ar="خطتنا هي السماح لحامل البطاقة بالاستفادة من بطاقة ISD في سلطنة عمان ودول مجلس التعاون الخليجي وبلدان أخرى
            خارج العالم.">
        </p>
    </div>
</div>