---
layout: base.njk
title: Get Started
---
{% set header = { title: 'About Us' } %}
{% include "header.njk" %}

<a href="home" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="about_container">
    <div class="card about-card">
        <img src="static/logo.png" alt="">
        <p>
            International Smart Card for Discounts, is owned by Smart Hammer L.L.C company established inSultane of Oman
            since 2009 as a part of Al Yarubi Group.
        </p>
        <p>
            ISD smart card has a international is keeping pace with modern progress and development that serves all
            consumers and saves their money under the high prices in various fields.
        </p>
        <p>
            The company's efforts continue to serve everyone in various commercial sectors and provides this service to
            all shops to active their sales and now the company is works to communicate with all possible parties to
            active the card for them whether inside
            Oman or outboard.
        </p>
        <p>
            Also we are working to expand and spread in future and that is our most important goal, and we are working
            to develop the application of the card so as not to be limited registering owners of cards and
            companiesonly, but try to make it a part of social media by creating an advertisement space benifit in many
            different fields, and also provide opportunities to develop skills through advertising.
        </p>
        <p>
            Our plan is to allow the card holder to benefit from ISD Card in Sultane of Oman, GCC, and other countries
            off the world.
        </p>
    </div>
</div>