---
layout: base_sidebar.njk
title: Get Started
permalink: bonus-point.html
---
{% set header = { titleEn: '' } %}
{% include "header.njk" %}

<div class="bonus_points_container bottom_bar_margin">
    <div class="card">
        <div class="card-content">
            <img src="static/img/card-holder.png" alt="">
        </div>
    </div>
    <h1 class="lan" en="Introduce New Card Holder and get RO 1.500 in CASH..!!*" ar="أدخل حامل البطاقة الجديد واحصل على 1.500 ريال عماني في النقدية .. !! *"></h1>
    <div class="card">
        <div class="card-content">
            <img src="static/img/merchant-shop.png" alt="">
        </div>
    </div>
    <h1 class="lan" en="Introduce New Brand and get extra 3 points*" ar="أدخل علامة تجارية جديدة واحصل على 3 نقاط إضافية *"></h1>
    <label class="checkbox terms">
        <p class="lan" en="*Terms & Conditions Apply." ar="*البنود و تطبق الشروط."></p>
        <input type="checkbox">
      </label>
</div>