---
layout: base_sidebar.njk
title: Get Started
permalink: bonus-point.html
---
{% set header = { title: '' } %}
{% include "header.njk" %}

<div class="bonus_points_container bottom_bar_margin">
    <div class="card">
        <div class="card-content">
            <img src="static/img/card-holder.png" alt="">
        </div>
    </div>
    <h1>Introduce New Card Holder and get RO 1.500 in CASH..!!*</h1>
    <div class="card">
        <div class="card-content">
            <img src="static/img/merchant-shop.png" alt="">
        </div>
    </div>
    <h1>Introduce New Brand and get extra 3 points*</h1>
    <label class="checkbox terms">
        *Terms & Conditions Apply.
        <input type="checkbox">
      </label>
</div>