---
layout: base_sidebar.njk
title: Get Started
permalink: buy-points.html
---
{% set header = { titleEn: 'Buy Points', titleAr: 'شراء النقاط' } %}
{% include "header.njk" %}

<div class="buy_points_container">
    <div class="columns is-multiline is-mobile">
        <div class="column">
            <a href="">
                <img src="static/img/lowPoints.png" alt="">
            </a>
        </div>
        <div class="column">
            <a href="">
                <img src="static/img/mediumPoints.png" alt="">
            </a>
        </div>
        <div class="column">
            <a href="">
                <img src="static/img/highPoints.png" alt="">
            </a>
        </div>
    </div>
</div>