---
layout: base.njk
title: Get Started
permalink: faq.html
---
{% set header = { titleEn: 'FAQ', titleAr: 'التعليمات' } %}
{% include "header.njk" %}

<a href="home.html" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="faq_container">
    <div class="card faq-card">
        <div class="labels">
            <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label lan" en="What is ISD Card?" ar="ما هي بطاقة ISD؟" for="chck1"></label>
                <div class="tab-content lan" en="It's a card for discounts shopping in various fields (Food - Health - Entertainment - Cars - Hotels
                    and Resorts and all commercial and Industrial services)" ar="إنها بطاقة خصومات للتسوق في مجالات مختلفة (طعام - صحة - ترفيه - سيارات - فنادق)
                    والمنتجعات وجميع الخدمات التجارية والصناعية)">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label lan" en="How do I get the card?" ar="كيف أحصل على البطاقة؟" for="chck2"></label>
                <div class="tab-content lan" en="You can buy the card through Our agents, international branches, commercial stores, markets, company
                    headquarters, through direct call or by visiting isdsmart.net" ar="يمكنك شراء البطاقة من خلال وكلائنا والفروع الدولية والمحلات التجارية والأسواق والشركات
                    المقر الرئيسي ، من خلال الاتصال المباشر أو عن طريق زيارة isdsmart.net">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label lan" en="How do I add my store?" ar="كيف أضيف متجري؟" for="chck3"></label>
                <div class="tab-content lan" en="You can add your store by visiting isdsmart.net" ar="يمكنك إضافة متجرك من خلال زيارة isdsmart.net">
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck4">
                <label class="tab-label lan" en="How to contact us on social media?" ar="كيفية الاتصال بنا على وسائل التواصل الاجتماعي؟" for="chck4"></label>
                <div class="tab-content social-buttons">
                    <p>
                        <button class="button is-light" style="color: #3B579D;">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        Facebook : isdsmart
                    </p>
                    <p>
                        <button class="button is-light" style="color: #5EAADE;">
                            <i class="fa fa-twitter-square"></i>
                        </button>
                        Twitter : isdsmart
                    </p>
                    <p>
                        <button class="button is-light" style="color: #FF5722;">
                            <i class="fa fa-instagram"></i>
                        </button>
                        Instagram : isdsmart.om
                    </p>
                    <p>
                        <button class="button is-light" style="color:yellow;">
                            <i class="fa fa-snapchat-square"></i>
                        </button>
                        Snapchat : isdsmart.om
                    </p>
                    <p>
                        <button class="button is-light" style="color:skyblue;">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                        LinkedIn : isdsmart.om
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck5">
                <label class="tab-label lan" en="How to contact us directly?" ar="كيف تتصل بنا مباشرة؟" for="chck5"></label>
                <div class="tab-content social-buttons">
                    <p class="lan" en="You can contact us directly through the following methods" ar="يمكنك الاتصال بنا مباشرة من خلال الطرق التالية"></p>
                    <p>
                        <button class="button is-light" style="color: #2AB200;">
                            <i class="fa fa-whatsapp"></i>
                        </button>
                        Whatsapp : +968 97910686
                    </p>
                    <p>
                        <button class="button is-light">
                            <i class="fa fa-phone-square"></i>
                        </button>
                        Mobile : +968 24505563</p>
                </div>
            </div>
        </div>
    </div>
</div>