---
layout: base.njk
title: Get Started
permalink: faq.html
---
{% set header = { title: 'FAQ' } %}
{% include "header.njk" %}

<a href="home.html" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="faq_container">
    <div class="card faq-card">
        <div class="labels">
            <div class="tab">
                <input type="checkbox" id="chck1">
                <label class="tab-label" for="chck1">What is ISD Card?</label>
                <div class="tab-content">
                    It's a card for discounts shopping in various fields (Food - Health - Entertainment - Cars - Hotels
                    and Resorts and all commercial and Industrial services)
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck2">
                <label class="tab-label" for="chck2">How do I get the card?</label>
                <div class="tab-content">
                    You can buy the card through Our agents, international branches, commercial stores, markets, company
                    headquarters, through direct call or by visiting isdsmart.net
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck3">
                <label class="tab-label" for="chck3">How do I add my store?</label>
                <div class="tab-content">
                    You can add your store by visiting isdsmart.net
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck4">
                <label class="tab-label" for="chck4">How to contact us on social media?</label>
                <div class="tab-content social-buttons">
                    <p>
                        <button class="button is-light" style="color: #3B579D;">
                            <i class="fa fa-facebook-square"></i>
                        </button>
                        Facebook : isdsmart
                    </p>
                    <p>
                        <button class="button is-light" style="color: #5EAADE;">
                            <i class="fa fa-twitter-square"></i>
                        </button>
                        Twitter : isdsmart
                    </p>
                    <p>
                        <button class="button is-light" style="color: #FF5722;">
                            <i class="fa fa-instagram"></i>
                        </button>
                        Instagram : isdsmart.om
                    </p>
                    <p>
                        <button class="button is-light" style="color:yellow;">
                            <i class="fa fa-snapchat-square"></i>
                        </button>
                        Snapchat : isdsmart.om
                    </p>
                    <p>
                        <button class="button is-light" style="color:skyblue;">
                            <i class="fa fa-linkedin-square"></i>
                        </button>
                        LinkedIn : isdsmart.om
                    </p>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" id="chck5">
                <label class="tab-label" for="chck5">How to contact us directly?</label>
                <div class="tab-content social-buttons">
                    <p>You can contact us directly through the following methods</p>
                    <p>
                        <button class="button is-light" style="color: #2AB200;">
                            <i class="fa fa-whatsapp"></i>
                        </button>
                        Whatsapp : +968 97910686
                    </p>
                    <p>
                        <button class="button is-light">
                            <i class="fa fa-phone-square"></i>
                        </button>
                        Mobile : +968 24505563</p>
                </div>
            </div>
        </div>
    </div>
</div>