---
layout: base_sidebar.njk
title: Get Started
permalink: home.html
---
{% set header = { title: 'Home' } %}
{% include "header.njk" %}

<div class="home_container bottom_bar_margin">
    <div class="slider" data-pos="0">
        <div class="slider__slides">
            <div class="slider__slide">
                <img src="static/img/card-holder.png" alt="">
            </div>
            <div class="slider__slide"></div>
            <div class="slider__slide"></div>
            <div class="slider__slide"></div>
        </div>
        <div class="slider__dots">
            <a class="slider__indicator"></a>
            <a class="slider__dot" data-pos="0"></a>
            <a class="slider__dot" data-pos="1"></a>
            <a class="slider__dot" data-pos="2"></a>
            <a class="slider__dot" data-pos="3"></a>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="options">
                <a href="" class="icon1">
                    <i class="fas fa-2x fa-phone"></i>
                </a>
                <a href="" class="icon1">
                    <i class="fas fa-2x fa-phone"></i>
                </a>
                <a href="" class="icon1">
                    <i class="fas fa-2x fa-phone"></i>
                </a>
                <a href="" class="icon1">
                    <i class="fas fa-2x fa-phone"></i>
                </a>
                <a href="" class="icon1">
                    <i class="fas fa-2x fa-phone"></i>
                </a>
            </div>
            <div class="options">
                <a href="" class="icon2">
                    <p class="percent">15%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon2">
                    <p class="percent">10%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon2">
                    <p class="percent">50%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon2">
                    <p class="percent">50%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
            </div>
            <div class="options">
                <a href="" class="icon3">
                    <p class="percent">20%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon3">
                    <p class="percent">30%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon3">
                    <p class="percent">20%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
                <a href="" class="icon3">
                    <p class="percent">30%</p>
                    <img src="static/img/merchant-shop.png" alt="">
                </a>
            </div>
        </div>
    </div>
    <a href="bonus-point.html">
        <button class="button is-large is-rounded is-info">
            WANT BONUS/POINTS..!!
        </button>
    </a>
</div>