---
layout: base.njk
title: Get Started
---

<div class="main-container get-started">
    <div class="logo">
        <img src="static/logo.png" alt="">
    </div>
    <a href="signin.html">
        <button class="get-started-button button is-large is-rounded is-light">GET STARTED</button>
    </a>
    <div class="skip-login">
        <p>Don't have Account ?</p>
        <a href="">Skip Login</a>
    </div>
</div>