---
layout: base.njk
title: Get Started
---

<div class="main-container get-started">
    <div class="logo">
        <img src="static/img/logo.png" alt="">
    </div>
    <a href="signin.html">
        <button class="get-started-button button is-large is-rounded is-light lan" en="GET STARTED" ar="البدء"></button>
    </a>
    <div class="skip-login">
        <p class="lan" en="Don't have Account ?" ar="ليس لديك حساب؟"></p>
        <a class="lan" href="" en="Skip Login" ar="تخطي تسجيل الدخول"></a>
    </div>
</div>