---
layout: base_sidebar.njk
title: Get Started
permalink: maps.html
---
{% set header = { title: 'Near Me' } %}
{% include "header.njk" %}

<div class="maps_container">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7608487.992879636!2d51.65789964683473!3d21.38667459118559!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3dd69f66a9d59bbf%3A0x3a064c7665b1a817!2sOman!5e0!3m2!1sen!2sin!4v1588922308296!5m2!1sen!2sin"
        frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
        tabindex="0"></iframe>
</div>