---
layout: base_sidebar.njk
title: Get Started
permalink: points.html
---
{% set header = {
    titleEn: 'Points',
    titleAr: 'نقاط'
} %}
{% include "header.njk" %}

<div class="points_container container">
    <div class="user_points">
        <a href="buy-points.html" class="addPoints">
            <img src="static/img/add-points.png" alt="">
        </a>
        <div class="points">
            <img src="static/img/points.png" alt="">
            <p>190</p>
        </div>
    </div>
    <p>You are special, Mohammed, total your points</p>
    <div class="progressBars">
        <div class="description">
            <h2>Use the ISDsmart app</h2>
            <h2 class="percent">46%</h2>
        </div>
        <div class="progressBar">
            <div class="value" style="width: 46%;">
            </div>
        </div>
        <div class="description">
            <h2>Use the Card</h2>
            <h2 class="percent">67%</h2>
        </div>
        <div class="progressBar">
            <div class="value" style="width: 67%;">
            </div>
        </div>
    </div>
    <p class="redeemMsg">Redeem your points</p>
    <div class="columns is-multiline is-mobile redeem">
        <div class="column is-5 top-left-rounded">
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
        <div class="column is-5 top-right-rounded">
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
        <div class="column is-5">            
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
        <div class="column is-5">
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
        <div class="column is-5 bottom-left-rounded">            
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
        <div class="column is-5 bottom-right-rounded">
            <h2>Arithmetic</h2>
            <h4>24 Lessons</h4>
            <div class="pointCount">
                <div>12+</div>
            </div>
        </div>
    </div>
</div>