---
layout: base.njk
title: Get Started
permalink: purchase-history.html
---
{% set header = { title: '' } %}
{% include "header.njk" %}

<a href="user_welcome.html" class="back_button">
    <i class="fas fa-arrow-left"></i>
</a>
<div class="purchase_container">
    <div class="card history-card">
        <div class="card title-card">
            Purchase History
        </div>
        <img src="static/img/purchasehistory.png" alt="">
    </div>
</div>