---
layout: base_sidebar.njk
title: Get Started
---
{% set header = { title: 'Settings' } %}
{% include "header.njk" %}

<div class="settings_container container bottom_bar_margin">
    <a href="">
        <div>Change Password</div>
        <i class="fas fa-arrow-right"></i>
    </a>
    <a href="">
        <div>Notifications</div>
        <i class="fas fa-arrow-right"></i>
    </a>
    <a href="">
        <div>Language</div>
        <div class="language">
            <p>English</p>
            <i class="fas fa-arrow-right"></i>
        </div>
    </a>
    <a href="">
        <div>ADs</div>
        <i class="fas fa-arrow-right"></i>
    </a>
    <a href="">
        <div>Terms and Conditions</div>
        <i class="fas fa-arrow-right"></i>
    </a>
</div>