---
layout: base_sidebar.njk
title: Get Started
permalink: settings.html
---

{% set header = { titleEn: 'Settings', titleAr: 'الإعدادات' } %} {% include
"header.njk" %}

<div class="settings_container container bottom_bar_margin">
	<a id="changePasswordButton">
		<div class="lan" en="Change Password" ar="تغيير كلمة المرور"></div>
		<i class="fas fa-arrow-right"></i>
	</a>
	<a href="">
		<div class="lan" en="Notifications" ar="إشعارات"></div>
		<i class="fas fa-arrow-right"></i>
	</a>
	<a href="" id="chooseLanguage">
		<div class="lan" en="Language" ar="لغة"></div>
		<div class="language">
			<p class="lan" en="English" ar="عربى"></p>
			<i class="fas fa-arrow-right"></i>
		</div>
	</a>
	<a href="">
		<div class="lan" en="ADs" ar="إعلانات"></div>
		<i class="fas fa-arrow-right"></i>
	</a>
	<a href="">
		<div class="lan" en="Terms and Conditions" ar="الأحكام والشروط"></div>
		<i class="fas fa-arrow-right"></i>
	</a>
</div>
<div class="modal" id="chooseLanguageModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
            <a href="" class="cl" r="en">
                <button class="button is-info">English</button>
            </a>
            <a href="" class="cl" r="ar">
                <button class="button is-info">Arabic</button>
            </a>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="modal" id="changePasswordModal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="card">
			<form id="changePasswordForm">
				<div class="field form-group">
					<div class="control">
					  <label class="label lan" en="New Password" ar="كلمة السر الجديدة"></label>
					  <input type="password" class="input is-info form-control" name="pass" required />
					</div>
				  </div>
				  <div class="field form-group">
					<div class="control">
					  <label class="label lan" en="Confirm Password" ar="تأكيد كلمة المرور"></label>
					  <input type="password" class="input is-info form-control" name="conpass" required />
					</div>
				  </div>
				  <button class="button is-danger is-rounded lan" type="submit" en="Submit" ar="إرسال"></button>
			</form>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>
