---
layout: base.njk
title: SignIn
permalink: signin.html
---
<div class="modal" id="forgotPasswordModal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="card">
      <h1 class="lan" ar="كلمة سر منسية" en="Forgotten Password"></h1>
      <form id="forgt">
        <div class="field form-group">
          <div class="control">
            <label class="label lan" en="Registered Mobile Number / Email" ar="رقم الجوال المسجل / البريد الإلكتروني"></label>
            <input type="text" class="input is-info form-control" name="mob" required />
          </div>
        </div>
        <button class="button is-rounded is-danger lan" type="submit" en="Submit" ar="خضع"></button>
      </form>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>
<div class="main-container signin-container">
  <div class="signin-card card">
    <div class="card-content">
      <h1 class="signin-title lan" en="SignIn" ar="تسجيل الدخول"></h1>
      <form id="login">
        <div class="field form-group">
          <div class="control">
            <input type="text" class="input is-info form-control" name="email" required placeholder="Email" />
          </div>
        </div>
        <div class="field form-group">
          <div class="control">
            <input type="password" class="input is-info form-control" name="pass" required placeholder="Password" />
          </div>
        </div>
        <div class="field">
          <div class="control" style="display:flex; justify-content: space-between">
            <label class="checkbox lan" en='<input type="checkbox" />Remember' ar='<input type="checkbox" />تذكر'>
            </label>
            <a class="forgot-password lan" id="forgtFormButton" href="#" en="Forgot Password?" ar="هل نسيت كلمة المرور؟"></a>
          </div>
        </div>
        <a class="signin-button" href="profile.html">
          <button type="submit" class="button orange-button is-medium is-rounded lan" en="Sign In" ar="تسجيل الدخول">
          </button>
        </a>
      </form>
      <h1 class="no-account lan" en="Don't Have Account" ar="لا تملك حساب"></h1>
      <div class="options">
        <div class="option">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="static/img/card-holder.png" alt="Placeholder image">
              </figure>
            </div>
          </div>
          <a class="option-button" href="card-holder/card-number.html">
            <button class="button is-danger orange-button is-small is-rounded lan" en="Create a card holder" ar="قم بإنشاء حامل بطاقة">
            </button>
          </a>
        </div>
        <div class="option">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img src="static/img/merchant-shop.png" alt="Placeholder image">
              </figure>
            </div>
          </div>
          <a class="option-button" href="merchant.html">
            <button class="button orange-button is-small is-danger is-rounded lan" en="Create as a merchant" ar="إنشاء كتاجر">
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>