---
layout: base_sidebar.njk
title: Get Started
permalink: user_welcome.html
---
{% set header = {
    titleEn: 'Welcome Mohammed',
    titleAr: 'أهلا بك Mohammed'
} %}
{% include "header.njk" %}

<div class="user_welcome_container container">
    <div class="section_1">
        <div class="photo_points">
            <img class="user_pic" src="static/img/card-holder.png" alt="">
            <div class="points">
                <a href="#" class="addPoints">
                    <img src="static/img/add-points.png" alt="">
                </a>
                <img src="static/img/points.png" alt="">
                <p>190</p>
            </div>
        </div>
        <p class="msg lan" en="You are a Premium Card holder." ar="أنت حامل بطاقة بريميوم."></p>
    </div>
    <div class="section_2">
        <ul class="steps is-narrow is-medium is-horizontal is-centered">
            <li class="steps-segment ">
                <span class="steps-marker">
                    <span class="icon">
                        <i class="fa fa-shopping-bag"></i>

                        <p>100</p>
                    </span>
                </span>
            </li>
            <li class="steps-segment ">
                <span class="steps-marker">
                    <span class="icon">
                        <i class="fa fa-shopping-bag"></i>
                        <p>200</p>
                    </span>
                </span>
            </li>
            <li class="steps-segment is-active ">
                <span class="steps-marker">
                    <span class="icon">
                        <i class="fa fa-shopping-bag"></i>
                        <p>300</p>
                    </span>
                </span>
            </li>
            <li class="steps-segment ">
                <span class="steps-marker">
                    <span class="icon">
                        <i class="fa fa-shopping-bag"></i>
                        <p>400</p>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="section_3">
        <h1 class="lan" en="Our suggestions" ar="اقتراحاتنا"></h1>
        <div class="suggestions">
            <a class="suggestion"><img src="static/img/card-holder.png" alt=""></a>
            <a class="suggestion"><img src="static/img/card-holder.png" alt=""></a>
            <a class="suggestion"><img src="static/img/card-holder.png" alt=""></a>
            <a class="suggestion"><img src="static/img/card-holder.png" alt=""></a>
            <a class="suggestion"><img src="static/img/card-holder.png" alt=""></a>
        </div>
    </div>
    <div class="section_4">
        <img src="static/img/blank_card.jpeg" alt="">
        <p class="card-number">1234 1234 1234</p>
    </div>
    <div class="section_5 columns is-mobile">
        <div class="expiry_date column is-one-third">
            <i class="fa fa-calendar"></i>
            <p class="lan" en="Expiry:" ar="انقضاء:"></p>
            <p>10 Mar 20</p>
        </div>
        <div class="column is-4">
            <a class="qr_code" href="payment.html">
                <img src="static/img/qr-code.png" alt="">
                <p>Scan QR</p>
            </a>
        </div>
        <div class="column">
            <a href="purchase-history.html" class="history">
                <i class="fa fa-th-list"></i>
                <p class="lan" en="History" ar="التاريخ"></p>
            </a>
        </div>
    </div>
</div>
<script>
    document.querySelector("header").style.position = "absolute";
</script>